<div class="join-container">
    <header class="join-header">
        <h1><i class="fa fa-spinner"></i> AnimeCord</h1>
    </header>
    <main class="join-main">
        
               
            <button (click)= "goToChat('Naruto')" class="c-btn-1">Naruto</button> <br>
            <button (click)= "goToChat('One Piece')" class="c-btn-2">One Piece</button> <br>
            <button (click)= "goToChat('My Hero Academia')" class="c-btn-3">My Hero Academia</button> <br>
            <button (click)= "goToChat('Bleach')" class="c-btn-4">Bleach</button> <br>
        
    </main>
</div>
