<div class="join-container">
    <header class="join-header">
        <h1><i class="fa fa-spinner"></i> ChatCord</h1>
    </header>
    <main class="join-main">
        <form (ngSubmit)="onSubmit()" >
            <div class="form-group">
                <label for="username">Username</label>
                <input [(ngModel)]= "username"
                    type="text"
                    name="username"
                    id="username"
                    placeholder="Enter username..."
                    required
                />
            </div>
            
            
                <div class="form-group">
                    <label for="room">Room</label>
                    <select (onSubmit)="onSubmit()"  [(ngModel)]="selectedOption" class="form-control" name="selectedOption" id="room" required>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Python">Python</option>
                        <option value="PHP">PHP</option>
                        <option value="C#">C#</option>
                        <option value="Ruby">Ruby</option>
                        <option value="Java">Java</option>
                    </select>
               </div>
               
            <button class="btn">Join Chat</button>
        </form>
    </main>
</div>