<div class="join-container">
    <header class="join-header">
        <h1><i class="fa fa-spinner"></i> AnimeCord</h1>
        <h3>Register</h3>
    </header>
    <main class="join-main">
        <form  >
            <div class="form-group">
                <label for="username">Username</label>
                <input [(ngModel)]= "username"
                    type="text"
                    name="username"
                    id="username"
                    placeholder="Enter username..."
                    required
                />
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input class="format" [(ngModel)]= "password"
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Enter password..."
                    required
                />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input class="format" [(ngModel)]= "email"
                    type="text"
                    name="email"
                    id="email"
                    placeholder="Enter email..."
                    required
                />
            </div>
               
            <button (click)=register() class="btn">Join Chat</button>
        </form>
    </main>
</div>